@import '../../../mixins.scss';

.menu {
    background: #111;
    border-top: 1px solid #ddd;
}
.container {
    align-items: center;
    justify-content: space-between;

    @include bp('medium') {
        display: flex;
    }

    .menu__item {
        color: #fff;
        font-size: 20px;
        text-transform: uppercase;
        padding: 15px 20px 12px 20px;
        border-bottom: 1px solid #ddd;
        cursor: pointer;
        transition: 0.3s all;

        @include bp('medium') {
            border-bottom: 3px solid transparent;
        }

        &:hover {
            color: #b9251b;
            border-bottom: 3px solid #b9251b;
        }

    }
}